<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styleLogin.css">
    <script src="jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container" id="container" v-bind:class="{ rightpanelactive: rightPanel }">
        <div class="form-container sign-up-container">
        
        <form action="#">
            <h1>Register</h1>
            <label id="roleLabel">Role:</label>
            <select name="roles" v-model="roleRegistration">
                <option value="GUEST">Guest</option>
                <option value="HOST">Host</option>
              </select>
            <input type="text" name="name" placeholder="Name" v-model="name">
            <input type="text" name="surname" placeholder="Surname" v-model="surname">
            <label id="genderLabel">Gender:</label>
            <select name="gender" v-model="gender">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="NONBINARY">Non binary</option>
              </select>
            <input type="email" name="email" placeholder="Email" v-model="emailRegistration">
            <input type="username" name="username" placeholder="Username" v-model="usernameRegistration">
            <input type="password" name="password" placeholder="Password" v-model="passwordRegistration">
            <button v-on:click="attemptToRegister">Register</button>
        </form>
        </div>
        <div class="form-container sign-in-container" >
            <form>
            <h1>Log in</h1>
            <input type="text" name="username" placeholder="Username" v-model="username">
            <input type="password" name="password" placeholder="Password" v-model="password">
            <label id="roleLabel">Role:</label>
            <select name="roles" v-model="role">
                <option value="GUEST">Guest</option>
                <option value="HOST">Host</option>
                <option value="ADMINISTRATOR">Administrator</option>
              </select>
            <button v-on:click="login">Log in</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info.</p>
                    <button class="ghost" id="signIn" v-on:click="shiftPanels">Log in</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello!</h1>
                    <p>Enter your details and start your journey with us!</p>
                    <button class="ghost" id="signUp" v-on:click="shiftPanels()">Register</button>
                </div>
            </div>
        </div>
        </div>

        <script src="vue.js"></script>
        <script src="axios.js"></script>
    <script type="text/javascript" src="login.js"></script>
</body>
</html>